.ko {
	color: red;
}
.end {
	color: blue;
}
#author, #title, #year {
	font-size: 14pt;
}
#title {
	font-style: italic;
}
#text {
	display: block;
}
textarea {
	resize: none;
	width: 100%;
	height: 300px;
}
